.container li{
    display: inline-block;
}
.list-item{
    display: inline-block;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bolder;
    margin: 5px 30px;
    color: #000;
}
.list{
    position: absolute;
    top: 10px;
    left: 220px;
}
.nav-buttonn{
    position: absolute;
    right:50px;
    top: 25px;
    font-size: 25px;
    background-color: dodgerblue;
    color: beige;
    border-radius: 10px;
    margin: 10px 20px;

}
.heading-text{
    display: inline-block;
   background-color: white;
   font-size: 80px; 

}
.cl{
    background-color: aqua;
}
.hd{
    position: absolute;
    right: 100px;
    top: 90px;
}
.description{
    position: absolute;
    color: rgb(95, 12, 12);
    bottom: 100px;
    font-size: 20px;
}
.nav-button{
    position: absolute;
    left:170px;
    bottom: 20px;
    font-size: 25px;
    background-color: dodgerblue;
    color: beige;
    border-radius: 10px;
    margin: 10px 20px;
} 
.nav-button:hover{
    background-color: cornflowerblue;
}
.nav-buttonn:hover{
    background-color:cornflowerblue ;
}
